.menu-right-header {
    align-items: center;
    justify-content:space-between;
    display: flex;
    height: 70px;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-left: none;
    opacity: 1;
}

.menu-right-header-btn button{
    outline: none;
    cursor: pointer;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #DCDCDC;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    align-items: center;
    display: inline-flex;
}
.menu-right-header-btn button img{
    margin-left: 10px;
}

.menu-right-header-btn :hover{
    color: #FFFFFF;
    -webkit-transform: scale(1.1);
          transform: scale(1.1);
    background: #313F46;
}

.menu-right-header-btn-del {
    margin-right: 20px;
    margin-left: auto;
}

.menu-right-header-btn-del button{
    outline: none;
    cursor: pointer;
    height: 40px;
    width: 90px;
    border-radius: 20px;
    border: 1px solid #DCDCDC;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    font-size: 14px;
    align-items: center;
    display: flex;
}

.menu-right-header-btn-del button img{
    margin-left: 10px;
}