.menu-left {
    width: 300px;
    min-height: calc(110vh - 70px);
    padding: 0px 15px;
    background: #313F46 0% 0% no-repeat padding-box;
    opacity: 1;
}

.create-link{
    text-decoration: none;
}

.create-link :active{
    background: #d9dfbc;
}

.create-new {
    cursor: pointer;
    margin-top: 20px;
    width: 270px;
    height: 50px;
    display: flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 50px;
    opacity: 1;
    letter-spacing: 0;
    align-items: center;
    outline: none;
    border: none;
}

.create-new img{
    margin-left: 20px;
}

.create-new span {
    margin-left: 18px;
}

.all-note {
    cursor: pointer;
    margin-top: 20px;
    width: 270px;
    height: 50px;
    display: flex;
    background: #2B3137 0% 0% no-repeat padding-box;
    border-radius: 50px;
    opacity: 1;
    text-align: left;
    font: Medium 16px/21px Futura PT;
    letter-spacing: 0;
    color: #FFFFFF;
    align-items: center;
}

.all-link{
    text-decoration: none;
}
.all-link :active{
    background: #d9dfbc;
}

.all-note img{
    margin-left: 20px;
}

.all-note span {
    margin-left: 18px;
}

.clip {
    cursor: pointer;
    margin-top: 20px;
    width: 270px;
    height: 50px;
    display: flex;
    opacity: 1;
    text-align: left;
    font: Medium 16px/21px Futura PT;
    letter-spacing: 0;
    color: #FFFFFF;
    align-items: center;
}

.clip img{
    margin-left: 20px;
}

.clip span {
    margin-left: 18px;
}

.quantity {
    border-radius: 40%;
    width: 28px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #454E55;
    font-size: 10px;
    margin-left: auto;
    margin-right: 15px;
}

.category {
    cursor: pointer;
    margin-top: 19px;
    margin-left: 20px;
    text-align: left;
    font: Medium 16px/21px Futura PT;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    display: flex;
}

.category p {
    padding-left: 17px;
}

.category-list {
    margin-top: 20px;
    margin-left: 57px;
    text-align: left;
    font: Medium 16px/21px Futura PT;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}

.category-item {
    cursor: pointer;
    margin-top: 20px;
    display: flex;
}

.category-item p {
    padding-left: 20px;
}

.btn-del{
    cursor: pointer;
    margin-left: 80px;
    bottom: 30px;
    position: absolute;
    width: 90px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid #DCDCDC;
    align-items: center;
    display: flex;
}

.btn-del :hover{background: #2B3137;}

.btn-del img{
    margin-left: 10px;
}

.btn-del span{
    margin-left: 2px;
    color: #FFFFFF;
}